<!DOCTYPE html>
<html lang="fr">

<head>
  <meta charset="UTF-8">
  <meta name="viewport"
        content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Demo Elasticsearch</title>
  <link rel="stylesheet" type="text/css" href="node_modules/bootstrap/dist/css/bootstrap.css">
  <link rel="stylesheet" href="node_modules/bootstrap-material-design/dist/css/bootstrap-material-design.min.css">
  <link rel="stylesheet" href="node_modules/bootstrap-material-design/dist/css/ripples.min.css">
  
  <link rel="stylesheet" href="css/style.css">
</head>
<body ng-app="ExampleApp">
  <div ng-controller="ExampleController" >
    <header ng-init="onTop = false" ng-class="{'little-header': onTop && nbResponses > 0}">
      <!--<h1 class="alert-danger alert">Votre recherche</h1>-->
      <form name="searchForm" class="search form-inline">
        <select name="selectSearch" ng-model="searchType">
          <option value="all" ng-selected="true">Tout</option>
          <option value="artiste">Artiste</option>
          <option value="album">Album</option>
          <option value="genre">Genre</option>
        </select>
        <input type="text" name="searchInput" ng-model="input" ng-minlength="1"  required>
        <button ng-click="onSearch(); onTop = true" class="btn btn-primary btn-raised" ng-disabled="searchForm.searchInput.$invalid"><span class="glyphicon glyphicon-search"></span></button>


        <div class="alert alert-info navbar-fixed-bottom" ng-if="nbResponses == 0 && searchForm.searchInput.$valid"><span class="glyphicon glyphicon-info-sign"></span>  Aucun album ne correspond à votre recherche</div>
      </form>
      <div class="down" ng-click="onTop = false">
        <span class="glyphicon glyphicon-chevron-down" ng-if="onTop && nbResponses > 0"></span>
      </div>
    </header>

    <div ng-show="nbResponses > 0 && onTop == true" class="my-result-container">

      <div style="width:100%" class="table bottom">
        <!--<tr>-->
          <!--<th>Pochette</th>-->
          <!--<th>Genre</th>-->
          <!--<th>Artiste</th>-->
          <!--<th>Album</th>-->
          <!--<th>Ecouter</th>-->
        <!--</tr>-->


          <div class="panel panel-info" ng-repeat="response in responses">
            <div class="panel-heading flex-row align-items-center">
              <div class=""><img src="{{response._source.img}}" alt="" width="64px" height="64px"></div>
              <div class="title-panel-result flex-row space-between">
                <div class="flex-col justify-center">
                  <h3 class="panel-title">{{response._source.artist}}</h3>
                  <p>{{response._source.title}}</p>
                  <p class="category-text">{{response._source.category}}</p>
                </div>

                <button class="btn btn-raised btn-default" ng-click="viewTracks = !viewTracks"><span class="glyphicon glyphicon-headphones"></span></button>  </div>
              <!--{{viewTracks}}-->
              </div>
            <div class="panel-body" ng-show="viewTracks" ng-class="{'panel-body-full': viewTracks}">

             <div ng-if="viewTracks" class="flex-col justify-center align-items-center">
               <div ng-include=""></div>
               <iframe width="560" height="315" ng-src="{{response._source.target | trusted}}" frameborder="0" allowfullscreen></iframe>
               response._source.target: {{response._source.target}}
               <!--<iframe width="560" height="315" src="https://www.youtube.com/embed/Tl7O-RgCIZg" frameborder="0" allowfullscreen></iframe>-->
             </div>
            </div>
          </div>

            </div>

      </div>


      </div>
    </div>
  </div>
  <script src="node_modules/jquery/dist/jquery.js"></script>
  <script src="node_modules/angular/angular.min.js"></script>
  <script src="node_modules/elasticsearch-browser/elasticsearch.angular.min.js"></script>
  <script src="node_modules/angularjs-scroll-glue/src/scrollglue.js"></script>
  <script src="node_modules/angular-sanitize/angular-sanitize.min.js"></script>
  <!--<script src="node_modules/ng-csv/build/ng-csv.min.js"></script>-->
  <script src="node_modules/angular-animate/angular-animate.js"></script>
  <script src="node_modules/bootstrap-material-design/dist/js/material.js"></script>
  <script src="node_modules/bootstrap-material-design/dist/js/ripples.js"></script>

  <script src="js/app.js"></script>
  <script src="js/controllers/result.controller.js"></script>
  
  <script src="js/services/elasticSearch.service.js"></script>

</body>
</html>
